*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin sans', sans-serif;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.hero{
    background-image: linear-gradient(rgba(219, 217, 217, 0.5),rgba(0,0,0,0.5),rgba(165, 155, 155, 0.5)), url(pic.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #01033b;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    background-color: #01033b;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: 13px;
    padding: 4px;
    border-radius: 30px;
    transition: .4s;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a:hover{
    background-color: transparent;
    border: 2px solid #00046d;
    cursor: pointer;
    color: #01033b;
}

.btn{
    background-color: #01033b;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2)
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #d4d0d0b7;
}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;

}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
        color: white;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
}

.about-text p{
    color:#01033b;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #01033b;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #01033b;
    cursor: pointer;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: .4s ease-in-out; 
}

.card:hover{
    transform: scale(1.2)
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: #01033b;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #01033b;
    cursor: pointer;
}

.early{
    background: #101010;
    width: 100%;
    padding: 100px 0p
}

 
.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
    
@media (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 852px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #01033b;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

@media(max-width: 768px)
{
    .box{
        max-width: 100%;
        flex-direction: column;
        
    }
    
    .about-text h2{
       margin: 80px;
    }
    
   .Contact-us p{
    font-size: 20px;
   }
    .main{
       display: flex;
       flex-direction: column; 
    }
    .about-text h5{
        margin: 80px;
        line-height: 20px;
        margin-top: 30px;
    }
    
    .about-text p{
        margin: 80px;
    }
    button{
        margin: 80px;
        line-height: 10px;
        margin-top: 70px;
    }
}