*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(4, 64, 155, 0.863),rgba(20, 20, 20, 0.74),rgba(4, 65, 156, 0.822)), url(1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

nav{
    background-image: linear-gradient(rgba(255, 255, 255, 0.637),rgba(255, 255, 255, 0.897),rgb(255, 255, 255)), url(pic.jpg);
    height: 84px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color:  #ffffff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    text-shadow: 1px 5px 10px #000;
    font-weight: bold;
}

span{
    color: #94bb08;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    background-color: #02031b;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: 13px;
    padding: 4px;
    border-radius: 30px;
    transition: .4s;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a:hover{
    background-color: transparent;
    border: 2px solid #0a11ec;
    cursor: pointer;
    color: #040bd3;
}

.btn{
    background-color: #0c13df;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2)
}


h1{
    font-size: 3em;
    text-align: center;
    font-family: Roboto;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #fff;
    padding-top: 150px;
}

.services{
    width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.services .box{
    height: 300px;
    width: 300px;
    padding: 15px;
    background-color: #12141c;
    overflow: hidden;
    transition: 0.3s ease;
    margin: 15px;
    font-family: Roboto;
    
}

.services .box i{
    color: #fff;
    margin-bottom: 15px;
    transition: inherit;
    transition-delay: 0s;

}

.services h4{
    color: #fff;
    margin-top: 20px;
    margin-top: 15px;
    transition: inherit;
    transition-delay: 0.5s;
    font-weight: 400;
}

.services p{
    color: #dfdfdf;
    transition: inherit;
    transition-delay: 0.1s;
}

.read{
   color: #fff;
   overflow: hidden;
   display: inline-block;
   font-size: 0.75srem;
   text-transform: uppercase;
   font-weight: 700;
   color: #fff;
   position: relative;
   padding-right: 2rem;
}

.read:before{
    background-repeat: #070feb;
    bottom: 0;
    height: .125rem;
    margin: auto;
    left: 0;
    content: '';
    position: absolute;
    top: 0;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
    animation: link;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(.6,.01,0,1);
}

.read span{
    position: relative;
    transform: translateX(-200%);
    display: inline-block;
    transition: 0.6s cubic-bezier(.6,.01,0,1);
}

.box:hover .read span{
    transform: translateX(0%);
}

.box:hover .read:before{
    animation: link-in;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(.6,.01,0,1);
}

.box:hover i,
.box:hover h4,
.box:hover p{
    transform: translateX(-0.625rem);
}

@keyframes link-out{
    0%{
        transform-origin: right center;
        transform: scaleX(.2);
    }
    70%{
        transform-origin: right center;
    }
    71%{
        transform-origin: left center;
        transform: scaleX(1);
    }
    100%{
        transform-origin: left center;
        transform: scaleX(.2);
    }
}   


@keyframes link-in{
    0%{
        transform-origin: left center;
        transform: scaleX(.2);
    }
    70%{
        transform-origin: left center;
        transform: scaleX(1);
    }
    71%{
        transform-origin: right center;
        transform: scaleX(1);
    }
    100%{
        transform-origin: right center;
        transform: scaleX(.2);
    }
}  

@media(max-width: 768px)
{
    .services{
        max-width: 100%;
        flex-direction: column;
    }
    span{
        color: yellow;
    }
}


.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
    
@media (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 852px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #01033b;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
